# Factor Based Investing

## 1. Theory

For decades, the investment portfolio were constructed from a combination of Market weighted index funds and active funds. <br>
The investment in market weighted index allowed the investors exposure to the Market Risk and Return, and they maintained an active portfolio to generate higher than market returns by employing complex strategies based on their motive; which can be to select income generating stocks, undervalued stocks among a few. <br>
This combination of passive and factor based investing laid the root for Factor Based Investing. Here factors can be considered as the building blocks of Risk and Return. The main idea behind Factor based investing is to allow the investors to take exposure to a particular building block of Risk.<br>
The origins of Factor based investing can be traced back to the Capital Asset Pricing Model(CAPM), which considered that there is only one factor, the market factor, which drives the returns of assets. <br>
### $$
E({r}-r_f) = \beta_{1}(\overline{r_{m}} - r_f)  +	ε
$$
The CAPM was further extended by Eugene Fama and Kenneth French to a three factor model, which by adding size risk and value risk factors to the previous market risk factor.
### $$
E({r}-r_f) = \beta_{1}(\overline{r_{m}} - r_f)  + \beta_{2}(SMB) + \beta_{3}(HML) +	ε
$$

<b> r </b> = Return of an Asset<br>
<b> r_f </b> = Risk free rate<br>
<b> E(r-r_f)</b> = Expected excess return of Asset compared to Risk Free Rate <br>
<b> r_m</b> = Market Return <br>
<b> SMB </b> = Historic excess returns of small-cap companies over large-cap companies<br>
<b> HML </b> = Historic excess returns of value stocks (high book-to-price ratio) over growth stocks (low book-to-price ratio) <br>
<b> β_1 </b> = Sensitivity of Systematic Return of an Asset with Market Return <br>
<b> β_2 </b> = Sensitivity of Return of Asset with historic excess returns of small-cap companies over large-cap companies <br>
<b> β_3 </b> = Sensitivity of Return of Asset with historic excess returns of value stocks (high book-to-price ratio) over growth stocks (low book-to-price ratio) <br>

Factor based investing can be generalized as the sum of risk free rate plus the product of sesitivity of stock with a factor multiplied by the excess return of that factor.

### $$
E({r}-r_f) = \beta_{1}E(f_{1})  + \beta_{2}E(f_{2}) + \beta_{3}E(f_{3}) + .... + \beta_{k}E(f_{k})
$$

The factors can be divided into 2 categories
- Macroeconomic factors, which capture broad risks across asset classes
- Style factors, which help to explain returns and risk within asset classes

Macroeconomic factors:
- Economic Factor: Exposure to Business Cycle
- Real Rates: Risk of interest rate movements
- Inflation: Exposure to changes in price
- Credit: Default risk from lending to companies
- Emerging Markets: Political and Sovereign risk
- Liquidity: Holding illiquid assets

Style factors:
- Value: Stocks discounted relative to their fundamentals
- Low Volatility: Stable, lower-risk stocks
- Momentum: Stocks with upward price trends
- Quality: Financially healthy companies
- Size: Smaller, high-growth companies
- Carry: Income incentive to hold riskier securit

## 2. Paper Research`

<b>Conservative Formula</b>: Van Vliet and de Koning came up with a new factor based investing model in 2017 which considers 3 factors,  volatility, net payout yield and momentum. This model only requires the price data and dividend data and hence can be back tested all the way back to 1929. Since it requires only 2 data points for every time frame, the risk of 'p-hacking' and 'factor fishing' is reduced as well. In this context p-hacking means choosing data in such a way that it supports your results and Factor fishing means ??. <br>
The formula can be applied on large cap stocks and rebalancing is to be done quarterly. <br>
The conservative portfolio can be constructed by selecting the top 10% of low-risk stocks with high net payout yield and
positive price momentum.

## 3. Data Extraction

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
%matplotlib inline

In [2]:
data=pd.read_csv("MonthlyData.csv")
data

          Ticker  Date/Time    Open    High     Low   Close  Volume
0       ACC Ltd.  11/1/1994  225.34  233.36  205.31  221.53       3
1       ACC Ltd.  12/1/1994  219.01  220.27  198.87  201.64       1
2       ACC Ltd.   1/1/1995  201.89  205.92  185.53  193.23       5
3       ACC Ltd.   2/1/1995  195.04  202.65  178.73  199.61      17
4       ACC Ltd.   3/1/1995  201.39  216.49  192.83  194.35      31
...          ...        ...     ...     ...     ...     ...     ...
3883  Wipro Ltd.   8/1/2000   91.13  126.26   79.13  122.30   11178
3884  Wipro Ltd.   9/1/2000  123.71  130.13   90.94   99.62   10825
3885  Wipro Ltd.  10/1/2000   98.47  103.12   69.60   88.07    9220
3886  Wipro Ltd.  11/1/2000   90.94   98.81   81.06   96.66   11306
3887  Wipro Ltd.  12/1/2000   96.04  116.24   79.91   89.97   14831

[3888 rows x 7 columns]

In [3]:
# data['Return']=data['Close'].pct_change()

In [4]:
data = pd.DataFrame(data)
data.dropna(inplace=True)

In [5]:
date=data['Date/Time'].tolist()
d = []
[d.append(x) for x in date if x not in d]
a=d[0]
b=d[len(d)-1]

In [6]:
df=pd.DataFrame()

In [7]:
df2=pd.DataFrame()

In [8]:
df2['Date']=d
df2['Date'][1]

'12/1/1994'

In [9]:
df['Date']=d
df['Date'][1]

'12/1/1994'

In [10]:
dict={}

In [11]:
i=0
while i < (len(data)-1):
    t=data['Ticker'][i]
    ret=[]
    vol=[]
    start=data['Date/Time'][i]
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            ret.append(-1)
            vol.append(-1)
    flag=0
    dict[t]=data['Date/Time'][i+1]
    while t==data['Ticker'][i] :
        if flag==0:
            ret.append(-1)
            vol.append(data['Volume'][i])
        if flag==1:
            ret.append( (data['Close'][i]-data['Close'][i-1])*100/(data['Close'][i-1]))
            vol.append(data['Volume'][i])
        flag=1
        i+=1
        if i == len(data):
            break
    df[t]=np.array(ret)

In [12]:
dict

{'ACC Ltd.': '12/1/1994',
 'Ashok Leyland Ltd.': '12/1/1994',
 'Aurobindo Pharma Ltd.': '1/1/1996',
 'Asian Paints Ltd.': '12/1/1994',
 'Ambuja Cements Ltd.': '12/1/1994',
 'Axis Bank Ltd.': '1/1/1999',
 'Bajaj Finance Ltd.': '3/1/1995',
 'Bank Of Baroda': '3/1/1997',
 'Bharat Petroleum Corporation Ltd.': '12/1/1994',
 'Bajaj Holdings & Investment Ltd.': '12/1/1994',
 'Berger Paints India Ltd.': '6/1/1995',
 'Cadila Healthcare Ltd.': '5/1/2000',
 'Container Corporation Of India Ltd.': '6/1/1997',
 'Bosch Ltd.': '12/1/1994',
 'Britannia Industries Ltd.': '12/1/1994',
 'Cipla Ltd.': '12/1/1994',
 'Colgate-Palmolive (India) Ltd.': '12/1/1994',
 'Dabur India Ltd.': '12/1/1994',
 'Eicher Motors Ltd.': '3/1/1995',
 'Dr. Reddys Laboratories Ltd.': '12/1/1994',
 'GAIL (India) Ltd.': '5/1/1997',
 'Grasim Industries Ltd.': '12/1/1994',
 'HCL Technologies Ltd.': '2/1/2000',
 'HDFC Bank Ltd.': '7/1/1995',
 'Hero MotoCorp Ltd.': '2/1/1995',
 'Hindalco Industries Ltd.': '12/1/1994',
 'Hindustan Petroleum Corporation Ltd.': '12/1/1994',
 'Hindustan Zinc Ltd.': '12/1/1994',
 'Hindustan Unilever Ltd.': '12/1/1994',
 'Housing Development Finance Corporation Ltd.': '12/1/1994',
 'ICICI Bank Ltd.': '10/1/1997',
 'IndusInd Bank Ltd.': '2/1/1998',
 'Indian Oil Corporation Ltd.': '5/1/1996',
 'JSW Steel Ltd.': '7/1/1995',
 'Infosys Ltd.': '12/1/1994',
 'Kotak Mahindra Bank Ltd.': '12/1/1994',
 'ITC Ltd.': '12/1/1994',
 'Larsen & Toubro Ltd.': '12/1/1994',
 'Marico Ltd.': '10/1/1996',
 'Motherson Sumi Systems Ltd.': '9/1/1996',
 'Mahindra & Mahindra Ltd.': '12/1/1994',
 'Nestle India Ltd.': '12/1/1994',
 'Oil & Natural Gas Corporation Ltd.': '9/1/1995',
 'Pidilite Industries Ltd.': '1/1/1995',
 'Piramal Enterprises Ltd.': '12/1/1994',
 'Procter & Gamble Hygiene & Health Care Ltd.': '12/1/1994',
 'Shriram Transport Finance Company Ltd.': '10/1/1996',
 'Reliance Industries Ltd.': '12/1/1994',
 'Shree Cement Ltd.': '2/1/1995',
 'Sun Pharmaceutical Industries Ltd.': '3/1/1995',
 'Siemens Ltd.': '12/1/1994',
 'State Bank Of India': '12/1/1994',
 'Tata Motors Ltd.': '12/1/1994',
 'Tata Steel Ltd.': '12/1/1994',
 'Titan Company Ltd.': '12/1/1994',
 'Zee Entertainment Enterprises Ltd.': '3/1/1995',
 'Vedanta Ltd.': '12/1/1994',
 'UPL Ltd.': '12/1/1994',
 'Wipro Ltd.': '3/1/1995'}

In [13]:
df=df.set_index("Date")

In [14]:
i=0
while i < (len(data)-1):
    t=data['Ticker'][i]
    price=[]
    start=data['Date/Time'][i]
    if start!=a: 
        x=d.index(start)
        for q in range(x):
            price.append(-1)
    flag=0
    dict[t]=data['Date/Time'][i+1]
    while t==data['Ticker'][i] :
        if flag==0:
            price.append(-1)
        if flag==1:
            price.append(data['Close'][i])
        flag=1
        i+=1
        if i == len(data):
            break
    df2[t]=np.array(price)

In [15]:
df2.to_excel (r'Price.xlsx')

In [16]:
tickers=df.columns

In [17]:
df2=df2.set_index("Date")

In [18]:
df2['Ashok Leyland Ltd.']['12/1/1994']

9.75

In [19]:
dict

{'ACC Ltd.': '12/1/1994',
 'Ashok Leyland Ltd.': '12/1/1994',
 'Aurobindo Pharma Ltd.': '1/1/1996',
 'Asian Paints Ltd.': '12/1/1994',
 'Ambuja Cements Ltd.': '12/1/1994',
 'Axis Bank Ltd.': '1/1/1999',
 'Bajaj Finance Ltd.': '3/1/1995',
 'Bank Of Baroda': '3/1/1997',
 'Bharat Petroleum Corporation Ltd.': '12/1/1994',
 'Bajaj Holdings & Investment Ltd.': '12/1/1994',
 'Berger Paints India Ltd.': '6/1/1995',
 'Cadila Healthcare Ltd.': '5/1/2000',
 'Container Corporation Of India Ltd.': '6/1/1997',
 'Bosch Ltd.': '12/1/1994',
 'Britannia Industries Ltd.': '12/1/1994',
 'Cipla Ltd.': '12/1/1994',
 'Colgate-Palmolive (India) Ltd.': '12/1/1994',
 'Dabur India Ltd.': '12/1/1994',
 'Eicher Motors Ltd.': '3/1/1995',
 'Dr. Reddys Laboratories Ltd.': '12/1/1994',
 'GAIL (India) Ltd.': '5/1/1997',
 'Grasim Industries Ltd.': '12/1/1994',
 'HCL Technologies Ltd.': '2/1/2000',
 'HDFC Bank Ltd.': '7/1/1995',
 'Hero MotoCorp Ltd.': '2/1/1995',
 'Hindalco Industries Ltd.': '12/1/1994',
 'Hindustan Petroleum Corporation Ltd.': '12/1/1994',
 'Hindustan Zinc Ltd.': '12/1/1994',
 'Hindustan Unilever Ltd.': '12/1/1994',
 'Housing Development Finance Corporation Ltd.': '12/1/1994',
 'ICICI Bank Ltd.': '10/1/1997',
 'IndusInd Bank Ltd.': '2/1/1998',
 'Indian Oil Corporation Ltd.': '5/1/1996',
 'JSW Steel Ltd.': '7/1/1995',
 'Infosys Ltd.': '12/1/1994',
 'Kotak Mahindra Bank Ltd.': '12/1/1994',
 'ITC Ltd.': '12/1/1994',
 'Larsen & Toubro Ltd.': '12/1/1994',
 'Marico Ltd.': '10/1/1996',
 'Motherson Sumi Systems Ltd.': '9/1/1996',
 'Mahindra & Mahindra Ltd.': '12/1/1994',
 'Nestle India Ltd.': '12/1/1994',
 'Oil & Natural Gas Corporation Ltd.': '9/1/1995',
 'Pidilite Industries Ltd.': '1/1/1995',
 'Piramal Enterprises Ltd.': '12/1/1994',
 'Procter & Gamble Hygiene & Health Care Ltd.': '12/1/1994',
 'Shriram Transport Finance Company Ltd.': '10/1/1996',
 'Reliance Industries Ltd.': '12/1/1994',
 'Shree Cement Ltd.': '2/1/1995',
 'Sun Pharmaceutical Industries Ltd.': '3/1/1995',
 'Siemens Ltd.': '12/1/1994',
 'State Bank Of India': '12/1/1994',
 'Tata Motors Ltd.': '12/1/1994',
 'Tata Steel Ltd.': '12/1/1994',
 'Titan Company Ltd.': '12/1/1994',
 'Zee Entertainment Enterprises Ltd.': '3/1/1995',
 'Vedanta Ltd.': '12/1/1994',
 'UPL Ltd.': '12/1/1994',
 'Wipro Ltd.': '3/1/1995'}

In [20]:
df_volatility=pd.DataFrame(index=df.index)

In [21]:
for i in tickers:
    df_volatility[i]=df[i].rolling(window=36).std()

In [22]:
df_volatility['Container Corporation Of India Ltd.']

Date
11/1/1994          NaN
12/1/1994          NaN
1/1/1995           NaN
2/1/1995           NaN
3/1/1995           NaN
               ...
8/1/2000     16.432267
9/1/2000     16.150858
10/1/2000    16.142917
11/1/2000    16.324320
12/1/2000    16.799437
Name: Container Corporation Of India Ltd., Length: 74, dtype: float64

Since rebalancing is to be done quarterly we'll take the the volatility values on 1st day of the month of January, Apr, July, October. We'll start taking values from 1/1/1998.

In [23]:
cols=df_volatility.columns

In [24]:
df_volatility[cols] = df_volatility[cols].replace(['0', 0], np.nan)
df_volatility

,ACC Ltd.,Ashok Leyland Ltd.,Aurobindo Pharma Ltd.,Asian Paints Ltd.,Ambuja Cements Ltd.,Axis Bank Ltd.,Bajaj Finance Ltd.,Bank Of Baroda,Bharat Petroleum Corporation Ltd.,Bajaj Holdings & Investment Ltd.,...,Sun Pharmaceutical Industries Ltd.,Siemens Ltd.,State Bank Of India,Tata Motors Ltd.,Tata Steel Ltd.,Titan Company Ltd.,Zee Entertainment Enterprises Ltd.,Vedanta Ltd.,UPL Ltd.,Wipro Ltd.
Date,,,,,,,,,,,,,,,,,,,,,
11/1/1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12/1/1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1/1/1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2/1/1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3/1/1995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8/1/2000,17.564311,26.213730,31.489914,11.307852,12.624282,11.347991,14.072112,15.122769,14.182782,10.278628,...,22.428895,16.891503,15.214655,16.218880,12.797609,25.512109,28.535945,20.674562,490.956895,34.817058
9/1/2000,18.090445,26.321598,31.377665,11.614886,13.124496,11.401440,14.120572,15.195891,14.095940,10.283161,...,22.952413,16.911531,15.311207,16.429902,12.964607,25.669603,28.695970,20.672513,491.082976,34.984958
10/1/2000,18.076461,26.516026,31.429444,11.755566,13.290446,11.398499,13.904158,15.201500,14.100056,10.790936,...,23.077278,16.883260,15.346988,16.527132,12.934261,25.667075,29.895013,20.726048,490.958920,35.244428
11/1/2000,20.148414,25.656132,31.448774,11.665376,13.455023,11.626807,13.902573,15.207442,14.810812,10.732695,...,23.062174,16.677060,15.214264,17.178783,13.352640,25.804230,29.751523,25.568900,490.230611,34.923811
12/1/2000,20.069142,25.729322,31.291126,11.664508,13.441840,11.610092,13.323874,15.154504,14.976297,10.907118,...,22.721495,16.595313,15.115957,17.174323,13.365117,25.783034,29.479627,25.568826,491.423517,34.985464

In [25]:
df_volatility.to_excel (r'Volatility.xlsx')

In [26]:
tickers=df_volatility.columns

In [27]:
df_ann_volatility=pd.DataFrame().reindex_like(df_volatility)

In [28]:
for t in tickers:
    start='NaN'
    if (d.index(dict[t]) + 35) < len(d):
        start=d.index(dict[t]) + 35
    if start!='NaN':
        while start < len(df):
            df_ann_volatility[t][start]=df_volatility[t][start]*math.sqrt(12)
            start+=1

In [29]:
df_ann_volatility.to_excel (r'Annual_Volatility.xlsx')

In [30]:
start=(df_ann_volatility.index).tolist().index('1/1/1998')
n=len(df_ann_volatility)
reb_dates=(df_ann_volatility.index).tolist()
tickers=df_ann_volatility.columns

In [31]:
conservative_portfolio=pd.DataFrame(index=tickers)
speculative_portfolio=pd.DataFrame(index=tickers)
cons_pfolio=[]
spec_pfolio=[]
i=start
while i < n: 
    temp=df_ann_volatility.iloc[i].sort_values(ascending=True)[:7]
    temp2=df_ann_volatility.iloc[i].sort_values(ascending=False)[:7]
    conservative_portfolio[reb_dates[i]]=temp
    speculative_portfolio[reb_dates[i]]=temp2
    spec_pfolio.append(temp2.index)
    cons_pfolio.append(temp.index)
#     print(temp,reb_dates[i])
    i+=3

In [32]:
spec_pfolio[0]

Index(['UPL Ltd.', 'Reliance Industries Ltd.', 'Hindustan Zinc Ltd.',
       'Mahindra & Mahindra Ltd.', 'Pidilite Industries Ltd.', 'ACC Ltd.',
       'Hero MotoCorp Ltd.'],
      dtype='object')

In [33]:
cons_pfolio[0]

Index(['Bosch Ltd.', 'Hindustan Unilever Ltd.',
       'Bajaj Holdings & Investment Ltd.', 'Dabur India Ltd.',
       'Colgate-Palmolive (India) Ltd.',
       'Hindustan Petroleum Corporation Ltd.', 'Siemens Ltd.'],
      dtype='object')

In [34]:
conservative_portfolio

,1/1/1998,4/1/1998,7/1/1998,10/1/1998,1/1/1999,4/1/1999,7/1/1999,10/1/1999,1/1/2000,4/1/2000,7/1/2000,10/1/2000
ACC Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ashok Leyland Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aurobindo Pharma Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asian Paints Ltd.,NaN,NaN,NaN,NaN,NaN,30.612360,NaN,36.621769,NaN,NaN,NaN,NaN
Ambuja Cements Ltd.,NaN,32.521127,33.465118,36.343308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Axis Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bajaj Finance Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bank Of Baroda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bharat Petroleum Corporation Ltd.,NaN,NaN,NaN,NaN,NaN,31.935157,NaN,NaN,NaN,NaN,NaN,NaN
Bajaj Holdings & Investment Ltd.,27.051404,27.896124,29.065603,30.073359,27.695325,29.809864,30.278055,29.782052,31.097341,36.417085,36.179889,37.380898
Berger Paints India Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.056106
Cadila Healthcare Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Container Corporation Of India Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Bosch Ltd.,19.789580,25.035080,29.268541,29.372115,29.380180,28.566606,35.086897,36.536207,36.659713,38.167623,37.039762,37.461239
Britannia Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cipla Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Colgate-Palmolive (India) Ltd.,27.659410,28.972524,29.535192,33.388017,33.797274,NaN,34.354138,35.677730,35.791279,33.724281,34.144064,35.145867
Dabur India Ltd.,27.352035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eicher Motors Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dr. Reddys Laboratories Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GAIL (India) Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Grasim Industries Ltd.,NaN,32.968912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HCL Technologies Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HDFC Bank Ltd.,NaN,NaN,NaN,NaN,36.987261,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hero MotoCorp Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hindalco Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hindustan Petroleum Corporation Ltd.,28.126781,30.052713,31.783874,32.888562,32.872362,29.464132,33.440449,33.127330,NaN,NaN,NaN,NaN
Hindustan Zinc Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hindustan Unilever Ltd.,25.037693,25.333330,26.536475,27.190367,27.413882,28.605324,29.643134,30.508756,31.259332,32.944031,30.901655,32.940662
Housing Development Finance Corporation Ltd.,NaN,NaN,NaN,36.427527,35.770297,NaN,34.217640,32.549596,34.034175,33.434979,31.747067,32.717689
ICICI Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IndusInd Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Indian Oil Corporation Ltd.,NaN,NaN,NaN,NaN,NaN,28.737560,NaN,NaN,NaN,NaN,38.327867,NaN
JSW Steel Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Infosys Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Kotak Mahindra Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ITC Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,34.139839,NaN,34.938231,36.445641,37.237734,36.032265
Larsen & Toubro Ltd.,NaN,NaN,33.977963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marico Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Motherson Sumi Systems Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mahindra & Mahindra Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Nestle India Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38.177394,37.951580,NaN,NaN
Oil & Natural Gas Corporation Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Pidilite Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Piramal Enterprises Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Procter & Gamble Hygiene & Health Care Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shriram Transport Finance Company Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Reliance Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shree Cement Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Sun Pharmaceutical Industries Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Siemens Ltd.,30.897941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
State Bank Of India,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tata Motors Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tata Steel Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Titan Company Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zee Entertainment Enterprises Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vedanta Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UPL Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wipro Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df2['Cadila Healthcare Ltd.']['10/1/1998']

-1.0

In [36]:
df2['HCL Technologies Ltd.']['10/1/1998']

-1.0

In [37]:
cons_price_portfolio=conservative_portfolio.copy()
col=list(conservative_portfolio) 
for j in range(len(col)):  
    if j==0:
        pol=cons_pfolio[j]
        for stock in pol:
            cons_price_portfolio[col[j]][stock]=df2[stock][col[j]]
    else:
        prepol=cons_pfolio[j-1]
        pol=cons_pfolio[j]
        for stock in pol:
            cons_price_portfolio[col[j]][stock]=df2[stock][col[j]]
        for stock in prepol:
            cons_price_portfolio[col[j]][stock]=df2[stock][col[j]]
last_pol=cons_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
cons_price_portfolio[next_date]=''
for stock in last_pol:
    cons_price_portfolio[next_date][stock]=df2[stock][next_date]

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
spec_price_portfolio=speculative_portfolio.copy()
col=list(speculative_portfolio) 
for j in range(len(col)):  
    if j==0:
        pol=spec_pfolio[j]
        for stock in pol:
            spec_price_portfolio[col[j]][stock]=df2[stock][col[j]]
    else:
        prepol=spec_pfolio[j-1]
        pol=spec_pfolio[j]
        for stock in pol:
            spec_price_portfolio[col[j]][stock]=df2[stock][col[j]]
        for stock in prepol:
            spec_price_portfolio[col[j]][stock]=df2[stock][col[j]]
last_pol=spec_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
spec_price_portfolio[next_date]=''
for stock in last_pol:
    spec_price_portfolio[next_date][stock]=df2[stock][next_date]

C:\Users\chashah4\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [39]:
cons_price_portfolio.head()

,1/1/1998,4/1/1998,7/1/1998,10/1/1998,1/1/1999,4/1/1999,7/1/1999,10/1/1999,1/1/2000,4/1/2000,7/1/2000,10/1/2000,11/1/2000
ACC Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
Ashok Leyland Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
Aurobindo Pharma Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
Asian Paints Ltd.,NaN,NaN,NaN,NaN,NaN,8.66,14.04,16.31,19.19,NaN,NaN,NaN,
Ambuja Cements Ltd.,NaN,20.23,15.25,13.2,17.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [40]:
stock_weights_cons = pd.DataFrame().reindex_like(conservative_portfolio)
stock_weights_spec = pd.DataFrame().reindex_like(speculative_portfolio)

In [41]:
tickers=speculative_portfolio.index
col=list(speculative_portfolio)
for j in range(len(col)):
    pol=spec_pfolio[j]
    c=5000
    for stock in pol:  
        stock_weights_spec[col[j]][stock]=int(c/df2[stock][col[j]])

In [42]:
tickers=conservative_portfolio.index
col=list(conservative_portfolio)
for j in range(len(col)):
    pol=cons_pfolio[j]
    c=5000
    for stock in pol:  
        stock_weights_cons[col[j]][stock]=int(c/df2[stock][col[j]])

In [43]:
stock_weights_cons.head()

,1/1/1998,4/1/1998,7/1/1998,10/1/1998,1/1/1999,4/1/1999,7/1/1999,10/1/1999,1/1/2000,4/1/2000,7/1/2000,10/1/2000
ACC Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ashok Leyland Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Aurobindo Pharma Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Asian Paints Ltd.,NaN,NaN,NaN,NaN,NaN,577.0,NaN,306.0,NaN,NaN,NaN,NaN
Ambuja Cements Ltd.,NaN,247.0,327.0,378.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
stock_weights_spec.head()

,1/1/1998,4/1/1998,7/1/1998,10/1/1998,1/1/1999,4/1/1999,7/1/1999,10/1/1999,1/1/2000,4/1/2000,7/1/2000,10/1/2000
ACC Ltd.,47.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ashok Leyland Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,889.0,905.0,826.0,1400.0,2127.0,2202.0
Aurobindo Pharma Ltd.,NaN,NaN,NaN,NaN,671.0,432.0,372.0,306.0,170.0,247.0,165.0,245.0
Asian Paints Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ambuja Cements Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
tickers=conservative_portfolio.index
col=list(conservative_portfolio)
cons_ret=[]
for j in range(1,len(col)):
    prepol=cons_pfolio[j-1]
    r=0
    t=0
    for stock in prepol:
        r+=stock_weights_cons[col[j-1]][stock]* (df2[stock][col[j]] - df2[stock][col[j-1]])
        t+=stock_weights_cons[col[j-1]][stock]* df2[stock][col[j-1]]
    cons_ret.append(r*100/t)

In [46]:
last_date=col[len(col)-1]
last_pol=cons_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
r=0
t=0
for stock in last_pol:
    r+=stock_weights_cons[col[len(col)-1]][stock]*(df2[stock][next_date] - df2[stock][last_date])
    t+=stock_weights_cons[col[len(col)-1]][stock]*df2[stock][last_date]
cons_ret.append(r*100/t)

In [47]:
tickers=speculative_portfolio.index
col=list(speculative_portfolio)
spec_ret=[]
for j in range(1,len(col)):
    prepol=spec_pfolio[j-1]
    r=0
    t=0
    for stock in prepol:
        r+=stock_weights_spec[col[j-1]][stock]* (df2[stock][col[j]] - df2[stock][col[j-1]])
        t+=stock_weights_spec[col[j-1]][stock]* df2[stock][col[j-1]]
    spec_ret.append(r*100/t)

In [48]:
last_date=col[len(col)-1]
last_pol=spec_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
r=0
t=0
for stock in last_pol:
    r+=stock_weights_spec[col[len(col)-1]][stock]*(df2[stock][next_date] - df2[stock][last_date])
    t+=stock_weights_spec[col[len(col)-1]][stock]*df2[stock][last_date]
spec_ret.append(r*100/t)

In [49]:
stock_weights_cons.to_excel (r'Weights Conservative.xlsx')
stock_weights_spec.to_excel (r'Weights Speculative.xlsx')
conservative_portfolio.loc['Equal_Weighted_Return']=cons_ret
speculative_portfolio.loc['Equal_Weighted_Return']=spec_ret
cons_ret.append(-1)
spec_ret.append(-1)
cons_price_portfolio.loc['Conservative Equal_Weighted_Return']=cons_ret
cons_price_portfolio.loc['Speculative Equal_Weighted_Return']=spec_ret
spec_price_portfolio.loc['Conservative Equal_Weighted_Return']=cons_ret
spec_price_portfolio.loc['Speculative Equal_Weighted_Return']=spec_ret

cons_price_portfolio.to_excel (r'Conservative_Portfolio_with_Prices.xlsx')
spec_price_portfolio.to_excel (r'Speculative_Portfolio_with_Prices.xlsx')

In [50]:
tickers=conservative_portfolio.index
col=list(conservative_portfolio)
cash=[]
value=[]
ret=[]
for j in range(len(col)):
    if j==0:
        pol=cons_pfolio[j]
        v=0
        c=100000
        for stock in pol:
            v+=10*df2[stock][col[j]]  
        value.append(v)  
        cash.append(c-v)
    else:
        prepol=cons_pfolio[j-1]
        r=0
        t=0
        for stock in prepol:
            r+=df2[stock][col[j]] - df2[stock][col[j-1]]
            t+=df2[stock][col[j-1]]
        ret.append(r*100/t)
        pol=cons_pfolio[j]
        v=value[j-1]
        c=cash[j-1]
        pol_set = set(pol) 
        prepol_set = set(prepol) 
        comm=pol_set.intersection(prepol_set)  
        new=pol_set.difference(comm)
        old=prepol_set.difference(comm)
        for stock in comm:
            v+=10*(df2[stock][col[j]] - df2[stock][col[j-1]])
        for stock in old:
            v-=10*df2[stock][col[j]]
            c+=10*df2[stock][col[j]]
        for stock in new:
            v+=10*df2[stock][col[j]]
            c-=10*df2[stock][col[j]]
        value.append(v)
        cash.append(c)

In [51]:
last_date=col[len(col)-1]
last_pol=cons_pfolio[len(col)-1]
next_date=d[d.index(col[len(col)-1])+1]
r=0
t=0
for stock in last_pol:
    r+=df2[stock][next_date] - df2[stock][last_date]
    t+=df2[stock][last_date]
ret.append(r*100/t)

In [52]:
ret

[21.558135460959026,
 -9.69011095884355,
 -13.68145435967303,
 0.5620275532576373,
 1.065471499868665,
 22.373220172546812,
 -9.922840017220254,
 -6.9673607079073685,
 -12.507693443954794,
 12.947929710032778,
 -15.112772335136716,
 4.221409740379502]

In [53]:
port_val=[]
for i in range(len(cash)):
    port_val.append(cash[i]+value[i])

In [54]:
# conservative_portfolio.loc['Price_Weighted_Return']=ret
# ret.append(-1)
# price_portfolio.loc['Price_Weighted_Return']=ret